<% if resource.errors.any? %>
  <div id="error_explanation">
    <ul class="errors alert alert-danger">
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
