<div class="card-columns">
  <% @articles.each do |article|%>
  <div class="card m-2">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary"><%= article.title %></h6>
    </div>
    <div class="card-body">
      <%= sanitize(truncate(article.about, length: 150)) %>
    </div>
  </div>
<% end %>
</div>
<div class="w-100 text-center">
<%= will_paginate @articles, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
</div>