<div class="card shadow">
  <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
    <h3 class="m-0 font-weight-bold text-primary"><%= @article.title %></h3>
    <div>
    	<%= link_to "Back to articles", articles_path, class: "btn btn-sm btn-secondary" %>
    <%= link_to 'Edit', edit_article_path(@article), class: 'btn btn-sm btn-primary' %>
    </div>
  </div>
  <div class="card-body">
  	<%= @article.content %>
  </div>
</div>