<div class="card shadow mb-4">
	<div class="card-header py-3">
		<h6 class="m-0 font-weight-bold text-primary">How to use this website?</h6>
	</div>
	<div class="card-body">
		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
	</div>
</div>
<div class="card shadow mb-4">
	<!-- Card Header - Accordion -->
	<a href="#ediotr" class="d-block card-header collapsed py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="ediotr">
		<h6 class="m-0 font-weight-bold text-primary">Editor Guides</h6>
	</a>
	<!-- Card Content - Collapse -->
	<div class="collapse" id="ediotr">
		<div class="card-body">
			This is a collapsable card example using Bootstrap's built in collapse
			functionality. <strong>Click on the card header</strong> to see the card body
			collapse and expand!
		</div>
	</div>
</div>
<div class="card shadow mb-4">
	<!-- Card Header - Accordion -->
	<a href="#tutor" class="d-block card-header collapsed py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="tutor">
		<h6 class="m-0 font-weight-bold text-primary">Tutor Guides</h6>
	</a>
	<!-- Card Content - Collapse -->
	<div class="collapse" id="tutor">
		<div class="card-body">
			This is a collapsable card example using Bootstrap's built in collapse
			functionality. <strong>Click on the card header</strong> to see the card body
			collapse and expand!
		</div>
	</div>
</div>