/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require css/sb-admin-2.css
 *= require datatables/dataTables.bootstrap4.min.css
 *= require select2
 *= require select2-bootstrap
 *= require_tree .
 *= require_self
 */
 .sidebar-brand-icon .svg-inline--fa{
 	font-size: 35px;
 }
 #new_user .select2-selection__placeholder,#new_user .select2-selection__rendered{
 	font-size: 1rem;
    color: #6e707e;
    font-family: 'Nunito';
 }
 .editor-min-height{
 	height: 250px;
 	overflow-y: auto;
 }
 .pagination-outer nav{
 	display: flex;
 	justify-content: center;
 }

 /*Switch*/
 /* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .1s;
  transition: .1s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .1s;
  transition: .1s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider.block {
  background-color: red;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
video
{
    transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg); /* Safari and Chrome */
    -moz-transform:rotateY(180deg); /* Firefox */
}
.center {
   position: absolute;
   width: 30px;
   height: 30px;
   background: var(--spinner);
   border-radius: 50%;
   top: 50%;
   left: 50%;
   transform: var(--center); 
}
.outer-spin, .inner-spin {
  position: absolute;
  top: 50%;
  left: 50%;
}
.outer-spin {
  animation: spin 4s linear infinite;
}
.outer-arc, .inner-arc {
  position: absolute;
  border-radius: 50%;
  border: 4px solid;
}
.outer-arc {
  width: 100px;
  height: 100px;
}
.outer-arc_start-a {
  border-color: transparent transparent transparent var(--spinner);
  /*NOTE: the order here very much matters!  */
  transform: var(--center) rotate(65deg); 
}
.outer-arc_end-a {
  border-color: var(--spinner) transparent transparent transparent;
  transform: var(--center) rotate(45deg);
}
.outer-arc_start-b {
  border-color: transparent transparent transparent var(--spinner); 
  transform: var(--center) rotate(65deg) scale(-1, -1);
}
.outer-arc_end-b {
  border-color: var(--spinner) transparent transparent transparent;
  transform: var(--center) rotate(45deg) scale(-1, -1);
}

.outer-moon-a {
   position: absolute;
   top:50%;
   left:50%;
   width: 15px;
   height: 15px;
   background: var(--spinner);
   border-radius: 50%;
   transform: var(--center) translate(52px, 0); 
}
.outer-moon-b {
   position: absolute;
   top:50%;
   left:50%;
   width: 15px;
   height: 15px;
   background: var(--spinner);
   border-radius: 50%;
   transform: var(--center) translate(-52px, 0); 
}
.inner-spin {
  animation: spin 3s linear infinite;
}
.inner-arc {
  width: 62px;
  height: 62px;
}
.inner-arc_start-a {
  border-color: transparent transparent transparent var(--spinner);
/*NOTE: the order here very much matters!  */
  transform: var(--center) rotate(65deg); 
}
.inner-arc_end-a {
  border-color: var(--spinner) transparent transparent transparent;
  transform: var(--center) rotate(45deg);
}
.inner-arc_start-b {
  border-color: transparent transparent transparent var(--spinner); 
  transform: var(--center) rotate(65deg) scale(-1, -1);
}
.inner-arc_end-b {
  border-color: var(--spinner) transparent transparent transparent;
  transform: var(--center) rotate(45deg) scale(-1, -1);
}
.inner-moon-a {
   position: absolute;
   top:50%;
   left:50%;
   width: 12px;
   height: 12px;
   background: var(--spinner);
   border-radius: 50%;
   transform: var(--center) translate(33px, 0); 
}
.inner-moon-b {
   position: absolute;
   top:50%;
   left:50%;
   width: 12px;
   height: 12px;
   background: var(--spinner);
   border-radius: 50%;
   transform: var(--center) translate(-33px, 0); 
}
@keyframes spin { 100% {transform: rotate(360deg); } }
.messages-list {
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}


.message-sent {
  position: relative;
  background-color: #D9EDF7;
  border-color: #BCE8F1;
  margin: 5px 20px;
  padding: 10px;
  float: right;
}


.message-received {
  background-color: #F1F0F0;
  border-color: #EEEEEE;
  margin: 5px 20px;
  padding: 10px;
  float: left;
}
.messages-list ul{
  list-style: none;
  padding: 0px;
}
.toggle-window{
  font-size: 18px;
  font-weight: bold;
}