<h1>Suggestion Panel</h1>
<div class="row">
	<div class="col-md-8">
		<div class="card shadow mb-4">
			<div class="card-header py-3">
				<h6 class="m-0 font-weight-bold text-primary">New Suggestions/Suggestions that are not yet replied or read</h6>
			</div>
			<div class="card-body">
				<ul id="conversations-list" class="list-group">
			<% @conversations.each do |conversation| %>
			<%= render 'conversations/conversation', conversation: conversation, user: current_user %>
			<% end %>
		</ul>
			</div>
		</div>
		

	</div>
</div>