<h1>Speak Now</h1>
<div class="row" style="margin-bottom: 50px;">
	<div class="col-md-6">
		<div class="card shadow" style="height: 470px;">
			<!-- Card Header - Dropdown -->
			<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
				<h6 class="m-0 font-weight-bold text-primary">Questions for speaking</h6>
				<button class="btn btn-sm btn-primary">Refresh</button>
			</div>
			<!-- Card Body -->
			<div class="card-body">
				Dropdown menus can be placed in the card header in order to extend the functionality
				of a basic card. In this dropdown card example, the Font Awesome vertical ellipsis
				icon in the card header can be clicked on in order to toggle a dropdown menu.
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="card shadow" style="height: 470px;">
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <button class="btn btn-sm btn-primary" id="start-call-btn">5 Minute Session</button>
                                    <div class="countdown"></div>
                                </div>
                                <div class="card-body text-center" id="speak-now-outer">
                                   
                                </div>
                            </div>
	</div>
</div>