        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <div class="sidebar-brand-icon">
                    <i class="fas fa-tree"></i>
                </div>
                <div class="sidebar-brand-text mx-3">LangoTree</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">
            <% if current_user.has_role? :student or current_user.has_role? :editor %>
                <%= render "layouts/speak_now_menu" %>
            <% end %>
            <% if current_user.has_role? :admin %>
                <%= render "layouts/admin_menu" %>
            <% end %>
            <% if current_user.has_role? :student or current_user.has_role? :editor or current_user.has_role? :admin  %>
                <%= render "layouts/articles_menu" %>
            <% end %>
            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->