<div class="d-flex flex-column flex-lg-row mb-2">
  <div class="mr-auto">
    <h3>Users List</h3> 
  </div>
</div>
<div class="col-md-12">
  <div class="panel panel-inverse">
    <div class="panel-body">    
      <table id="users-table" data-source="<%= users_list_path(format: :json) %>" class="table table-striped table-bordered dataTable no-footer" width="100%">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Sign in count</th>
            <th>Current sign in at</th>
		    <th>Operations</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>	
    </div>
  </div>
</div>